body {
    background: rgb(255, 255, 255);
    text-align: center;
}

.wrapper {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;

}

.circle{
    /* border: red solid 2px;
    border-radius: 100px;
    border-style: dashed; */

    width:100px;
    padding:50px 0;
    line-height: 0;
    margin: 60px auto;
    background: pink;
    color: white;
    border-radius: 50px;
    cursor:progress;
    transition: background 1s ,transform 0.3s linear  ;
}





.circle:hover{
    background-color: aquamarine;
    transform: rotate(360deg);
}
